<style>
  .container {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
  }

  span {
    display: block;
    margin: 10px 0;
  }
</style>

<div class="container">
  <h1>RentalX</h1>
  </br>
  <span>Olá, {{name}}</span>
  <span>Você solicitou a troca de senha para acessar sua conta.</span>
  <span>Para prosseguir com a troca, clique no link abaixo:</span>
  <a href={{link}}>{{link}}</a>
  </br>
  <span>Caso não tenha feito essa solicitação, basta ignorar esse e-mail.</span>
</div>